@import "@fontsource/fira-mono";
/* 
:root {
	--font-body: sans-serif;
	--font-mono: 'Fira Mono', monospace;

	--color-bg-lightmode: rgb(249, 249, 249);
	--color-bg-darkmode: #313338;
	--color-bg: var(--color-bg-darkmode);

	--color-text-lightmode: rgb(15, 15, 15);
	--color-text-darkmode: rgb(242, 242, 242);
	--color-text: var(--color-text-darkmode);

	--color-accent-lightmode: #546ca4;
	--color-accent-darkmode: #b5c6f3;
	--color-accent: var(--color-accent-darkmode);

	--color-link-lightmode: var(--color-accent-lightmode);
	--color-link-hover-lightmode: rgb(59, 125, 186);
	--color-link-visited-lightmode: rgb(31, 86, 137);
	--color-link-darkmode: var(--color-accent-darkmode);
	--color-link-hover-darkmode: rgb(150, 195, 238);
	--color-link-visited-darkmode: #97bcde;
	--color-link: var(--color-link-darkmode);
	--color-link-hover: var(--color-link-hover-darkmode);
	--color-link-visited: var(--color-link-visited-darkmode);

	--color-lightbulb-lightmode: rgb(255, 255, 151);
	--color-lightbulb-darkmode: rgb(100, 100, 100);
	--color-lightbulb: var(--color-lightbulb-lightmode);

	--color-card-bg-1-lightmode: #cccccc;
	--color-card-bg-2-lightmode: #dddddd;
	--color-card-bg-3-lightmode: #eeeeee;
	--color-card-bg-1-darkmode: #212328;
	--color-card-bg-2-darkmode: #33353a;
	--color-card-bg-3-darkmode: #41444b;
	--color-card-bg-1: var(--color-card-bg-1-darkmode);	
	--color-card-bg-2: var(--color-card-bg-2-darkmode);	
	--color-card-bg-3: var(--color-card-bg-3-darkmode);

	--color-red-lightmode: rgb(175, 32, 32);
	--color-red-darkmode: rgb(255, 153, 153);
	--color-red: var(--color-red-darkmode);

	font-size: 18px;
	font-family: var(--font-body);
}

@media (max-width: 600px) {
	:root {
		font-size: 16px;
	}
}

a {
	color: var(--color-link);
}

a :hover {
	color: var(--color-link-hover);
}

a :visited {
	color: var(--color-link-visited);
}

.banner {

  }

button {
	color: var(--color-text);
	background-color: var(--color-card-bg-1);
	border: 1px solid darkgray;
	padding: 0.3rem 0.6rem;
	cursor: pointer;
}

button:hover, .filterButton:hover {
	transform: scale(1.05);
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

.filterTag {
	color: var(--color-text-lightmode);
    font-size: 0.8rem;
    font-family: var(--font-mono);
    padding: 0.1rem 0.3rem;
    border: 1px solid var(--color-bg-darkmode);
    cursor: pointer;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

.filterButton {
	color: var(--color-text);
	background-color: var(--color-card-bg-1);
	border: 1px solid darkgray;
	padding: 0.3rem 0.6rem;
	cursor: pointer;
}

.divider {
	border-top: 1px solid darkgray;
	margin-bottom: 0.5rem;
}


.small-modal {
	background-color: hsla(200, 200, 200, 0.7);
	position: absolute;
	width: 240px;
} */
