@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900 bg-slate-100 dark:text-primary-text-dark dark:bg-primary-bg-dark;
}

a {
  @apply text-blue-500 hover:text-blue-400 active:text-blue-600 dark:text-blue-200 dark:hover:text-blue-100 dark:active:text-blue-300;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
