@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-500 hover:text-blue-400 active:text-blue-600 dark:text-blue-200 dark:hover:text-blue-100 dark:active:text-blue-300;
}

.btn {
  @apply text-base px-2 py-2 rounded-md shadow-md text-light-text dark:text-dark-text border border-neutral-500 active:shadow-none;
}

.btn:disabled {
  cursor: unset;
  @apply shadow-none text-neutral-500 bg-light-bg border-neutral-300 dark:bg-dark-bg dark:border-neutral-800;
}

.showBtn {
  opacity: 1 !important;
  transform: translateY(0);
}

.divider {
  @apply mt-4 border-t border-neutral-500;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:disabled:hover {
  transform: unset;
}
button:disabled:active {
  transform: unset;
}

label {
  @apply text-base;
}

input {
  @apply m-2;
}

input[type="text"],
textarea {
  @apply p-2 font-mono text-xs sm:text-sm dark:text-light-text;
}

textarea {
  @apply m-2 resize-y min-h-8 max-h-32;
}
